<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/stylesheets/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
     <link rel="stylesheet" type="text/css" href="/css/style1.css" >
    <script src="/js/modernizr.custom.63321.js"></script>
    
   
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

    <div class="brand">Aakriti</div>
    <div class="address-bar">College of Engineering, Guindy</div>

    <!-- Navigation -->
    <%= render '/home/nav'%>



<div class= "row">
<div class="large-12 columns " data-equalizer-watch>

<h2 class="page-header">Events </h2>
<section class="main">

        <ul class="timeline">

          <li class="event">
            <input type="radio" name="tl-group" checked/>
            <label></label>
            <div class="thumb user-1"><span>23 APR</span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3>AMUN</h3>
                  <p>Aakriti club of CEG conducted MODEL UNITED NATIONS conference over a period of three days, on the 23, 24 and 25 April 2013. 
                  The chief guest was Nirupama Subramanian, journalist & Associate editor of Hindu gave a speech at the opening ceremony of AMUN’13 on April 23, 2013. </p>
                  <p>Chinmayi, Playback Singer &CEO of Blue Elephant graced the occasion with her presence as the guest of 
                  honour.</p>
                  <p>The function was presided over by Prof.Dr.P.Kaliraj, the former Vice Chancellor of Anna University. The theme of the conference was “Empowering women as learners and leaders”. </p>
                  <p>The AMUN’13 conference had 5 committees discussing solutions to global problems ranging climate change to women illiteracy. The committees were ‘General Assembly’, ’Economic and Social Council’, ‘United Nations Educational, Scientific and Cultural Organisation’, ‘United Nations Human Rights Council’, and ’Commission of women’.</p>
<ol>
<li>23 April 2013: Opening ceremony of AMUN’13.</li>
<li>24 April 2013: Day one of thought provoking debate in the 5 committees.</li>
<li>25 April 2013: Day two of the debate followed by the closing ceremony.</li>
</ol>
<p>
The cause for this event was to help the Naam foundation headed by Mrs.Suhasini, wife of renowned film maker Mr.ManiRatnam. 
The Naam foundation mentors and motivates single women to stand on their own feet. Nearly 50 colleges and 500 delegates participated in the event.
</p>
                </div>
              </div>
            </div>
          </li>

          <li class="event">
            <input type="radio" name="tl-group"/>
            <label></label>
            <div class="thumb user-2"><span>18 Nov</span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3>Walkathon, a walk for a cause.</h3>
                   <p>The Aakriti girl’s forum of CEG along with the Presidents of nearly 100 women’s colleges in Chennai conducted a walkathon to stress the importance of women’s literacy. The walkathon took place at the marina beach.</p>
<p>Vijayshanthi Builders sponsored the event along with Techofes’12. The chief guest was Shakeel Akhtar, I.G of Police. The special guests were Chinni Jayanth and Laxmi Ramakrishnan. Girl students from 100 government schools also participated in the walkathon and gave their support to this event. The students conveyed their support by carrying placard which emphasized the significance of women’s literacy.</p>
<p>
T-Shirts emphasizing the importance of women’s literacy were worn by the college girls. The Walkathon started from Gandhi statue and terminated at the Anna Memorial. The Walkathon had a turnout of about 600 people. The Walkathon oath was taken by T.Abinaya, Aakriti founder along with the team members. The highlight of the Walkathon was graffiti by Aakriti Team at Besant Nagar Road. The media partner for this event was Makkal TV. </p>
                </div>
              </div>
            </div>
          </li>

          <li class="event">
            <input type="radio" name="tl-group"/>
            <label></label>
            <div class="thumb user-3"><span>17 Nov</span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3>AAKRITI --- Joy of Giving Week !</h3>
                  
                </div>
              </div>
            </div>
          </li>

          <li class="event">
            <input type="radio" name="tl-group"/>
            <label></label>
            <div class="thumb user-4"><span>16 Nov</span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3>PHOTOSHOP WORKSHOP</h3>
                 <p>
   The Photoshop workshop was conducted on 6th, 7th and 14th of October, 2012 only for GIRLS. It was conducted in Room No. 75 of the RED Building of CEG, Anna University from 2 to 5 pmon all the three days. The Workshop was conducted by Harish Sharavan - An expert onPhotoshop. The event was headed by AishwaryaBhargav, Nivedita Mahesh, ShireenSalma,Rajeswari.L and Padmavathy along with the contribution and support from the Workshop teamand Marketing team. A total of 31 girls participated in the Workshop. Each participant was giventhe knowledge of working in Photoshop which will be useful for them in various fields. All theparticipants who successfully attended the full course of the workshop were awarded withcertificates.
  </p>
                </div>
              </div>
            </div>
          </li>

          <li class="event">
            <input type="radio" name="tl-group"/>
            <label></label>
            <div class="thumb user-5"><span>15 Nov</span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3>SELF-DEFENCE WORKSHOP:</h3>
  <p>Aakriti in collaboration with survival instincts conducted self defense workshop for the girls of CEG on 18th October 2013. Mr.AnoopMadhavan, CEO of survival instincts and his intern Steffy came and conducted the workshop. The girls were taught the difference between knowing martial arts and the basic stances for protecting themselves. It was ensured that all the girls realised it is not important to know martial arts to protect oneself when situation arises.
</p>
<p>
There are four main self-defence strategies- psychological, technical, legal and physical. Mr.Anoop explained all these strategies with the help of a few girls. He laid importance on the most important step in self-defence- ESCAPE. He clearly explained that despite all best efforts, the smartest thing to do would be to leave the place immediately.</p>
<p>The girls were given a feedback form after the session. The session was conducted successfully with all the girls having learnt about self-defence.</p>

                </div>
              </div>
            </div>
          </li>
          
        </ul>
      </section>



  

<br>
<br>



</div>




</div>




<%= render '/layouts/footer'%>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>




