
 <div class="container">

        <div class="row">

                <div class="col-lg-10">
                    <hr>
                    <h2 class="intro-text text-center">Contact
                        <strong>Aakriti</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-8">
                    <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
                    <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=13.011028500000000000,80.235018399999940000&amp;spn=13.011028500000000000,80.235018399999940000&amp;t=m&amp;z=4&amp;output=embed"></iframe>
                </div>
                <div class="col-md-4">
                    <p>Phone:
                        <strong>1234567890</strong>
                    </p>
                    <p>Email:
                        <strong><a href="mailto:aakriti.ceg@gmail.com">aakriti.ceg@gmail.com</a></strong>
                    </p>
                    <p>Address:
                        <strong><br>College of Engineering Guindy
                                <br>Sardar Patel Rd
                                <br>Chennai, Tamil Nadu 600026</strong>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
