<nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <li><a data-pjax="true" href="/women/index">Women</a></li>
                        <li><a data-pjax="true" href="/trumpet/index">Events</a></li>
                       <li><a data-pjax="true" href="/vogue/index">Vogue</a></li>
                        <li><a data-pjax="true" href="/gallery">Gallery</a></li>
                            </ul>
                 <ul class="nav navbar-nav navbar-right">
                    <li>
                       <li><%#= render '/layouts/login_links'%></a></li>
                          
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
       
        <!-- /.container -->
    </nav>
