
<div class="container">
    <div id="carousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">

                <img alt="Bootstrap template" src="http://placehold.it/1200x400/ffffff/E23434&text=Aakriti">

                <div class="carousel-caption">

                    <h3><img width=50 height=50 src="/images/a1.jpg">Aakriti</h3>
                    <p class="index"><b><i>Aakriti</i></b>, is a prestigious forum exclusively for girls of CEG. It strives to work towards enhancing the lives of thousands of girls studying here. It provides an excellent opportunity to meet other girls, come out with their ideas and talents, discuss their problems, and possibly come up with a solution. </p>
                     <p class="index">The girlpower when put to proper use can work wonders. This is one platform where all the girls come together and work as a team, thereby elevating their self-confidence besides making new bonds and strengthening old ones. Aakriti believes in paving way for the upliftment of the face of girls in our college, changing the way they've been treated by their male counterparts and potraying each girl, as someone a guy can look up to.</p>
                </div>
            </div>
            
            <div class="item">

                <img alt="Bootstrap template" src="http://placehold.it/1200x400/4f77cb/ffffff&text=Social">
                <div class="carousel-caption">
                    <div class="col-lg-12 text-center v-center" style="font-size: 39pt;">
                        <a href="#"><span class="avatar"><i class="fa fa-google-plus"></i></span></a>
                        <a href="#"><span class="avatar"><i class="fa fa-linkedin"></i></span></a>
                        <a href="https://www.facebook.com/AakritiCEG?fref=ts"><span class="avatar"><i class="fa fa-facebook"></i></span></a>

                    </div>
                </div>
            </div>
            <div class="item">
                <img alt="Bootstrap template" src="http://placehold.it/1200x400/DED6D6/ffffff&text=Events">
                <div class="carousel-caption">
                    
                    
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/images/ps.jpg" alt="">
                </a> 
                    </div> 
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/images/room.jpg" alt="">
                </a>
                    </div>
 		    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/images/pic.jpg" alt="">
                </a> 
                    </div> 
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/images/sd.jpg" alt="">
                </a>
                    </div>
                   
                </div>
            </div>
             
        </div>
        <ul class="nav nav-pills nav-justified">
            <li data-target="#carousel1" data-slide-to="0" class="active">
                <a href="#">Aakriti</small></a>
            </li>
            <li data-target="#carousel1" data-slide-to="1">
                <a href="#">Inaugration</a>
            </li>
            <li data-target="#carousel1" data-slide-to="2">
                <a href="#">Events</small></a>
            </li>
        </ul>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="/Content/font-awesome/css/font-awesome.min.css" />


