<div class="container">
    <div id="carousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img alt="Bootstrap template"  src="http://placehold.it/1200x575/ebebeb/E23434&text=Aakriti">
		<div class="carousel-caption">
                <img class="img-square img-responsive text-center" alt="Bootstrap template" width=100 height=100 src="/images/inaugration/4.jpg">
               <p> <b><i>Aakriti</i></b>, is a prestigious forum exclusively for girls of CEG. It strives to work towards enhancing the lives of thousands of girls studying here. It provides an excellent opportunity to meet other girls, come out with their ideas and talents, discuss their problems, and possibly come up with a solution.</p><br><br><br><br>
                 <p>The girlpower when put to proper use can work wonders. This is one platform where all the girls come together and work as a team, thereby elevating their self-confidence besides making new bonds and strengthening old ones. Aakriti believes in paving way for the upliftment of the face of girls in our college, changing the way they've been treated by their male counterparts and potraying each girl, as someone a guy can look up to.</p>

		</div>
            </div>
            <div class="item">
                <img alt="Bootstrap template" width=1200 height=400 src="/images/slide-2.jpg">
                <div class="carousel-caption">
<p>                The Aakriti forum felicitated the achievements of five women for their valuable contributions to the society, especially, the women-in-need. The achievers were:
<ol>
<li>Usha Rajagopal-Managing trustee of ESVI Sarada Foundation which offers medical & educational services for underprivileged children.</li>
<li>Kursith Begum-Trustee, Secretary, Advisory Board member in Annai Fathima Trust- a rehabilitation centre for hundred orphans and destitute women, children.</li>
<li>Mrs.G.Lalitha-Brain child of New Life Charitable Trust, a non-religious, non-profitable social service organisation with the sole objective of serving 2 segments of neglected people in distress, the old destitute with number trace of family and the abandoned young ones.</li>
<li>Mrs.Komala Sivakumar, Mrs.Sujatha Sekar –Founder of Iniya Udaiyam Charitable Trust which focuses on Child Rights, job placement for youth & management education, value based development education project.</li>
<li>Mrs.Meenakshi Ramamoorthy-Fonder of Ramamoorthy Education and Rehabilitation Trust.</li>
</ol>
</p>
		</div>
            </div>
            <div class="item">
                <img alt="Bootstrap template" width=1200 height=400 src="/images/slide-3.jpg">
                <div class="carousel-caption">
                    <div class="col-lg-12 text-center v-center" style="font-size: 39pt;">
                        <a href="#"><span class="avatar"><i class="fa fa-google-plus"></i></span></a>
                        <a href="#"><span class="avatar"><i class="fa fa-linkedin"></i></span></a>
                        <a href="#"><span class="avatar"><i class="fa fa-facebook"></i></span></a>
                        <a href="#"><span class="avatar"><i class="fa fa-twitter"></i></span></a>
                    </div>
                </div>
            </div>

	</div>
     </div>
</div>

<br>
<br><br>
        <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive text-center" alt="Bootstrap template" src="/images/inaugration/4.jpg">
            
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive" alt="Bootstrap template" src="/images/inaugration/2.jpg">
            
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive" alt="Bootstrap template" src="/images/inaugration/3.jpg">
       </div>
</div>
<link rel="stylesheet" type="text/css" href="/Content/font-awesome/css/font-awesome.min.css" />


