
<div class="container">
    <div id="carousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">

                <img alt="Bootstrap template" src="http://placehold.it/1200x400/ebebeb/E23434&text=Aakriti">

                <div class="carousel-caption">

                    
                </div>
            </div>
             
        </div>
<br>
<br><br>
        <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive text-center" alt="Bootstrap template" src="/images/inaugration/4.jpg">
            
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive" alt="Bootstrap template" src="/images/inaugration/2.jpg">
            
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive" alt="Bootstrap template" src="/images/inaugration/3.jpg">
       </div>
    </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="/Content/font-awesome/css/font-awesome.min.css" />


