




<ul class="example-orbit" data-orbit>
  <li>
    <img width =500 height=500 src="/images/inaugration/1.jpg" alt="slide 1" />
    <div class="orbit-caption">
    </div>
  </li>
  <li class="active">
    <img  width =500 height=500 src="/images/inaugration/2.jpg" alt="slide 2" />
    <div class="orbit-caption">
    </div>
  </li>
  <li>
    <img  width =500  height=500 src="/images/inaugration/3.jpg" alt="slide 2" />
    <div class="orbit-caption">
    </div>
  </li>
</ul>
