<div class="row" data-equalizer>
  <div class="large-6 columns panel" data-equalizer-watch>

<h1>About Us !!</h1>
<p>The Aakriti, official girl's forum of CEG was inaugurated on 15 th September, 2011.The founder & President of Aakriti club was T.Abinaya. The Vice President was Anjana Chadrasekaran. The general Secretaries were Josephine Nirmala, Dhivya, Rashmi, and Mahishaa. The chief guest was Usha Mahadevan, former Dean, Madras school of social work, Loyola. The function was presided over by former VC Dr.Mannar Jawahar and former Dean Dr.M.Sekar.
</p>

<h3>About Club</h3>
<p>
Aakriti is the official Girls Forum of CEG,Anna University,Chennai. Aakriti is a place for the girls of the college to showcase their talents, and come forth and step into the light and out of the darkness.</p>

<div align="left">
<a href="#" data-reveal-id="firstModal" class="btn btn-mini btn-danger">Description </a> 
<br>
<br>

<!-- Reveal Modals begin -->
<div id="firstModal" class="reveal-modal" data-reveal>
  <h2>Description</h2>
  <p>  There is a strong need for women to take up greater responsibilities and equip themselves with the knowledge of stress management and learn to face the world with courage and passion. Out of the 40% of women present in our college only ten percent participate in non collegiate activities. In olden days , Women did not get to make many of their own choices and a majority of the time their life was mainly mapped out for them prior to adulthood. And now given a chance or taking the advantage of the struggles made by the women of yesteryears they still break their necks to reach their goals. Noticing that women of our college need adequate emotional support and the need to handle problems without taking wrong and hasty decisions, the idea of a girls' forum emanated.
</p>

  <a onclick="history.go(-0);return true;" class="close-reveal-modal">&#215;</a>
</div>
</div>
Any queries ? 
<br>mail to : 
  <a href="mailto:aakriti.ceg@gmail.com">
                         <span class="hidden-xs">aakriti.ceg@gmail.com</span>
                     </a>
  
</div>
</div>
