<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
        
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <script src="js/modernizr.custom.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="brand">Aakriti</div>
    <div class="address-bar">College of Engineering, Guindy</div>

    <!-- Navigation -->
   <%= render '/home/nav'%>

  


        <div class="container">
            <!-- Top Navigation -->
                    
            <section class="tt-grid-wrapper">
                <ul class="tt-grid tt-effect-fall tt-effect-delay">
                 <h1>Walkathon</h1> 
                    <li><a href="#"><img src="images/walk/w.jpg" alt="img01"></a></li>
                    <li><a href="#"><img src="images/walk/w1.jpg" alt="img02"></a></li>
                    <li><a href="#"><img src="images/walk/w2.jpg" alt="img03"></a></li>
                    <li><a href="#"><img src="images/walk/w3.jpg" alt="img04"></a></li>
                    <li><a href="#"><img src="images/walk/w4.jpg" alt="img05"></a></li>
                    <li><a href="#"><img src="images/walk/w5.jpg" alt="img06"></a></li>
                    <li><a href="#"><img src="images/walk/w6.jpg" alt="img04"></a></li>
                    <li><a href="#"><img src="images/walk/w7.jpg" alt="img05"></a></li>
                    <hr>
                <h1>Inaugration</h1> 
                    <li><a href="#"><img src="images/inaugration/2.jpg" alt="img05"></a></li>
                    <li><a href="#"><img src="images/inaugration/3.jpg" alt="img05"></a></li>
                    <li><a href="#"><img src="images/inaugration/4.jpg" alt="img05"></a></li>
                    <li><a href="#"><img src="images/inaugration/5.jpg" alt="img05"></a></li>
                    <li><a href="#"><img src="images/inaugration/7.jpg" alt="img05"></a></li>
                     <hr>
                <h1>Women's Day Celebration</h1> 
                    <li><a href="#"><img src="/images/women/1c.jpg" alt="img05"></a></li>
                    <li><a href="#"><img src="/images/women/5c.jpg" alt="img05"></a></li>
                    <li><a href="#"><img src="/images/women/7c.jpg" alt="img05"></a></li>
                    <li><a href="#"><img src="/images/women/3c.jpg" alt="img05"></a></li>
                    <hr>
                <h1>Joy of Giving</h1> 
                    <li><a href="#"><img src="/images/jog/1.jpg" alt="img05"></a></li>
                    <li><a href="#"><img src="/images/jog/2.jpg" alt="img05"></a></li>
                    <li><a href="#"><img src="/images/jog/3.jpg" alt="img05"></a></li>
                    <li><a href="#"><img src="/images/jog/4.jpg" alt="img05"></a></li>
                    <li><a href="#"><img src="/images/jog/5.jpg" alt="img05"></a></li>

 
                </ul>
                </section>
            </div>
    </div>
<%= render '/layouts/footer'%>     
    <!-- /.container -->

    

    </div>
</div>


    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script src="js/draggabilly.pkgd.min.js"></script>
    <script src="js/elastiStack.js"></script>
        <script>
            new ElastiStack( document.getElementById( 'elasticstack' ) );
        </script>
    </script>
    <script src="js/classie.js"></script>
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>

























