
<div class ="row">
<h2>Gallery</h2>
<div class="panel">
     <dl class="accordion" data-accordion>
         
       
 
        <dd class="accordion-navigation">
    <a href="#panel2"><h2>Walkathon</h2></a>
    <div id="panel2" class="content">
               <ul class="clearing-thumbs" data-clearing>
               <li><a href="/images/walk/w.jpg"><img width =150 height =150 src="/images/walk/w.jpg"></a></li>
  	       <li><a href="/images/walk/w1.jpg"><img width =150 height =150 src="/images/walk/w1.jpg"></a></li>
  	       <li><a href="/images/walk/w2.jpg"><img width =150 height =150 src="/images/walk/w2.jpg"></a></li>
  	       <li><a href="/images/walk/w3.jpg"><img width =150 height =150 src="/images/walk/w3.jpg"></a></li>
               
              <li> <a href="/images/walk/w4.jpg"><img width =150 height =150 src="/images/walk/w4.jpg"></a></li>
  	      <li> <a href="/images/walk/w5.jpg"><img width =150 height =150 src="/images/walk/w5.jpg"></a></li>
  	       <li><a href="/images/walk/w6.jpg"><img width =150 height =150 src="/images/walk/w6.jpg"></a></li>
  	       <li><a href="/images/walk/w7.jpg"><img width =150 height =150 src="/images/walk/w7.jpg"></a></li>
               </ul>
      </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel3"><h2>Inaugration </h2></a>
             <div id="panel3" class="content">
                         <ul class="clearing-thumbs" data-clearing>
                         <li><a href="/images/inaugration/1.jpg"><img width =250 height =250 src="/images/inaugration/1.jpg"></a></li>
                         <li><a href="/images/inaugration/2.jpg"><img width =250 height =250 src="/images/inaugration/2.jpg"></a></li>
                         <li><a href="/images/inaugration/3.jpg"><img width =250 height =250 src="/images/inaugration/3.jpg"></a></li>
                         <li><a href="/images/inaugration/5.jpg"><img width =250 height =250 src="/images/inaugration/5.jpg"></a></li>
                         <li><a href="/images/inaugration/4.jpg"><img width =250 height =250 src="/images/inaugration/4.jpg"></a></li>
                         <li><a href="/images/inaugration/7.jpg"><img width =250 height =250 src="/images/inaugration/7.jpg"></a></li>
                        </ul>
             </div>
  </dd>
 
    <dd class="accordion-navigation">
    <a href="#panel4"><h2>Joy of Giving</h2></a>
               <div id="panel4" class="content">
                          <ul class="clearing-thumbs" data-clearing>
                           <li><a href="/images/jog/jog1.jpg"><img width=150 height =150 src="/images/jog/jog1.jpg"></li>
                            </li><a href="/images/jog/jog3.jpg"><img width=150 height =150 src="/images/jog/jog3.jpg"></li>
                           <li><a href="/images/jog/jog4.jpg"><img width=150 height =150 src="/images/jog/jog4.jpg"></li>
                          </ul>
                          
             </div>
         </dd>
     </dl>
</div>
     







