
<div class ="row">
<h2>Gallery</h2>
<div class="panel">
     <dl class="accordion" data-accordion>
         
       
 
        <dd class="accordion-navigation">
    <a href="#panel2"><h2>Walkathon</h2></a>
    <div id="panel2" class="content">
               <ul class="small-block-grid-2">
               <li><a href="/images/walk.jpg"><img width =150 height =150 src="/images/walk.jpg"></a></li>
  	       <li><a href="/images/walk1.jpg"><img width =150 height =150 src="/images/walk1.jpg"></a></li>
  	       <li><a href="/images/walk2.jpg"><img width =150 height =150 src="/images/walk2.jpg"></a></li>
  	       <li><a href="/images/walk3.jpg"><img width =150 height =150 src="/images/walk3.jpg"></a></li>
               </ul>
      </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel3"><h2>Inaugration </h2></a>
             <div id="panel3" class="content">
                         <ul class="small-block-grid-2">
                         <li><a href="/images/inaugration/1.jpg"><img width =250 height =250 src="/images/inaugration/1.jpg"></a></li>
                         <li><a href="/images/inaugration/2.jpg"><img width =250 height =250 src="/images/inaugration/2.jpg"></a></li>
                         <li><a href="/images/inaugration/3.jpg"><img width =250 height =250 src="/images/inaugration/3.jpg"></a></li>
                         </ul>
             </div>
  </dd>
 
    <dd class="accordion-navigation">
    <a href="#panel4"><h2>Joy of Giving</h2></a>
               <div id="panel4" class="content">
                          <ul class="small-block-grid-2">
                          <li><img width=150 height =150 src="/images/jog/jog1.jpg"></li>
                          <li><img width=150 height =150 src="/images/jog/jog3.jpg"></li>
                          <li><img width=150 height =150 src="/images/jog/jog4.jpg"></li>
                          </ul> 
             </div>
         </dd>
     </dl>
</div>
     







