<ul class="clearing-thumbs" data-clearing>
  <li><a href="/images/inaugration/1.jpg"><img width =100 height =100 src="/images/inaugration/1.jpg"></a></li>
  <li><a href="/images/inaugration/2.jpg"><img width =100 height =100 src="/images/inaugration/2.jpg"></a></li>
  <li><a href="/images/inaugration/3.jpg"><img width =100 height =100 src="/images/inaugration/3.jpg"></a></li>
</ul>
<br>
<ul class="clearing-thumbs" data-clearing>
  <li><a href="/images/walk.jpg"><img width =100 height =100 src="/images/walk.jpg"></a></li>
  <li><a href="/images/walk1.jpg"><img width =100 height =100 src="/images/walk1.jpg"></a></li>
  <li><a href="/images/walk2.jpg"><img width =100 height =100 src="/images/walk2.jpg"></a></li>
  <li><a href="/images/walk3.jpg"><img width =100 height =100 src="/images/walk3.jpg"></a></li>
</ul>






