<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
     
        
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">  
    <script src="js/modernizr.custom.js"></script>
    <!-- Background -->
     <script type="text/javascript" src="/js/modernizr.custom.86080.js"></script> 
   
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" type="text/css" href="/css/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/css/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="/css/css/component.css" />
        <script src="/js/js/modernizr.custom.js"></script>

        <!--Preetyphoto-->
     <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/stylesheets/prettyPhoto.css" rel="stylesheet">
    <link href="/assets/stylesheets/main.css" rel="stylesheet">
    
    
    

</head>

<body>
    <div class="container">
     <header>
        <div class="col-md-2"> <a href="/home/index"><img src="/images/a1c.png"></a></div>
        <div class="brand">Aakriti</div>
        <div class="address-bar">College of Engineering, Guindy</div>

    </header> 
        <%= render '/home/nav'%>
    </div> <!-- Navigation -->

    <div class="container">
    <div class="large-12 columns " data-equalizer-watch>

             <section class="tt-grid-wrapper">
                <ul class="tt-grid tt-effect-fall tt-effect-delay">
                 
               
                    <h1>Overall View of Gallery</h1>
 
               </ul>

                <ul id="elasticstack" class="elasticstack">
                <li><img src="images/walk/w.jpg" alt="01"/><h5>Walkathon</h5></li>
                <li><img src="images/inaugration/8.jpg" alt="02"/><h5>Inaugration</h5></li>
                <li><img src="/images/women/7c.jpg" alt="03"/><h5>Women's Day Celebration</h5></li>
                <li><img src="/images/jog/1.jpg" alt="04"/><h5>Joy of Giving</h5></li>
                

            </ul>


         </section>
    
        <div class="row">
           
                
                <h2> Walkathon </h2>
                <ul class="portfolio-items col-4">
                   <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/walk/w.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/walk/w.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/walk/w1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/walk/w1.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/walk/w2.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/walk/w2.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/walk/w3.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/walk/w3.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/walk/w4.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/walk/w4.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/walk/w5.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/walk/w5.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/walk/w6.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/walk/w6.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/walk/w7.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/walk/w7.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    
                    
                   
                   </ul>   

                    <hr>
                   <h2> Inaugration</h2>
                <ul class="portfolio-items col-4">
                   <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/inaugration/5.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/inaugration/5.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                   <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/inaugration/2.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/inaugration/2.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/inaugration/3.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/inaugration/3.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/inaugration/4.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/inaugration/4.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/inaugration/1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/inaugration/1.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/inaugration/6.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/inaugration/6.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/inaugration/7.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/inaugration/7.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                  
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/inaugration/8.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/inaugration/8.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    
                   </ul>   
                    <hr>
                   <h2> Women's Day Celebration 2013</h2>
                <ul class="portfolio-items col-4">
                   <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/women/1c.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/women/1.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/women/3c.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/women/3.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/women/5c.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/women/5.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/women/7c.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/women/7.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/women/w1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/women/w1.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/women/w3.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/women/w3.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/women/w2.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/women/w2.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/women/w4.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/women/w4.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    
                   
                   
                   </ul>   
                   <hr>
                   <h2> Joy of Giving</h2>
                <ul class="portfolio-items col-4">
                   <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/jog/1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/jog/1.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/jog/5.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/jog/5.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/jog/3.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/jog/3.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/jog/4.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/jog/4.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/jog/2.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/jog/2.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                  
                    
                    
                   
                   </ul>   
         </div>
         <div class="center">
         <%= render '/home/page'%><br><br>
         </div>
         </div>
</div> <br><br>
          
   
<%= render '/layouts/footer'%>     
    
   
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        
        <script src="js/jquery-1.11.0.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="/js/js/draggabilly.pkgd.min.js"></script>
        <script src="/js/js/elastiStack.js"></script>
        <script>
            new ElastiStack( document.getElementById( 'elasticstack' ) );
        </script>
        
       
    <script src="/assets/javascripts/jquery-1.11.0.js"></script>
     <script src="/js/bootstrap.js"></script>
     <script src="/js/bootstrap.min.js"></script>
     <script src="/assets/javascripts/jquery.js"></script>
     <script src="/assets/javascripts/bootstrap.min.js"></script>
     <script src="/assets/javascripts/jquery.isotope.min.js"></script>
     <script src="/assets/javascripts/jquery.prettyPhoto.js"></script>
     <script src="/assets/javascripts/main.js"></script>
     
     <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
    

</body>

</html>

























