<!DOCTYPE html>
<html lang="en">

<head>
    <script src="js/modernizr.custom.js"></script>
    <!-- Background -->
     <script type="text/javascript" src="/js/modernizr.custom.86080.js"></script> 
    
       
    
    
    

</head>

<body>
    
    <div class="container">
     <header>
        <div class="col-md-2"> <a href="/home/index"><img src="/images/a1c.png"></a></div>
        <div class="brand">Aakriti</div>
        <div class="address-bar">College of Engineering, Guindy</div>

    </header> 
        <%= render '/home/nav'%>
    </div> <!-- Navigation -->

    <div class="container">
        <div class="large-12 columns " data-equalizer-watch>

             <section class="tt-grid-wrapper">
              <!--   <ul class="tt-grid tt-effect-fall tt-effect-delay">
                 
               
			<h1>Albumn</h1>
 
               </ul>

                <ul id="elasticstack" class="elasticstack">
                <li><img src="images/twalk/t1.png" alt="01"/><h5>Techofes Walkathon</h5></li>
                <li><img src="/images/women14/7.jpg" alt="03"/><h5>Women's Day Celebration 2014 </h5></li>
                

            </ul>
            -->


         </section>
    
    <div class="row">
           
                
                <h2> Techofes Walkathon</h2>
                <ul class="portfolio-items col-4">
                   <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/twalk/t1.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/twalk/t1.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/twalk/t2.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/twalk/t2.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/twalk/t3.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/twalk/t3.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                     
                     <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/twalk/t5.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/twalk/t5.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/twalk/t6.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/twalk/t6.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/twalk/t7.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/twalk/t7.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/twalk/t8.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/twalk/t8.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    
                     <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/twalk/t10.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/twalk/t10.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/twalk/t11.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/twalk/t11.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/twalk/t12.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/twalk/t12.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/twalk/t13.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/twalk/t13.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/twalk/t14.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="images/twalk/t14.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                   </ul>   

                    <hr>
                   
                   
                    
                   <h2> Women's Day Celebration 2014 </h2>
                <ul class="portfolio-items col-4">
                   <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/women14/1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/women14/1.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/women14/2.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/women14/2.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/women14/3.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/women14/3.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/women14/4.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/women14/4.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/women14/5.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/women14/5.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/women14/6.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/women14/6.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/women14/7.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/women14/7.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/women14/8.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/women14/8.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/women14/9.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/women14/9.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/women14/10.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/women14/10.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/women14/11.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/women14/11.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/women14/12.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="" href="/images/women14/12.jpg"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    
                   
                   
                   </ul>   
                   <hr>
                  
         </div>
                  <%= render '/home/page'%> <br><br>
       
          
   
<%= render '/layouts/footer'%>     
    
   
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        
       
    
    

</body>

</html>

























