<meta http-equi="refresh" content="5" />


<%= render '/home/orbitslider' %>

</div>
<br>
<br><br>
<div align="center">
<a href="#" data-reveal-id="firstModal" class="btn btn-mini btn-danger">Contact Us !!</a>
<a href="#" data-reveal-id="videoModal" class="btn btn-mini btn-danger">Example Modal w/Video&hellip;</a>

<!-- Reveal Modals begin -->
<div id="firstModal" class="reveal-modal" data-reveal>
<%= render '/home/contactus'%>
  <a onclick="history.go(-0);return true;" class="close-reveal-modal">&#215;</a>
</div>

<div id="videoModal" class="reveal-modal large" data-reveal>
  <h2>This modal has video</h2>
  <div class="flex-video">
    <iframe width="350" height="275" src="//www.youtube.com/embed/aiBt44rrslw" frameborder="0" allowfullscreen></iframe>
  </div>

  <a onclick="history.go(-0);return true;" class="close-reveal-modal">&#215;</a>
</div>
</div>
<footer class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
          <p class="testimonial">“I hate to hear you talk about all women as if they were fine ladies instead of rational creatures. None of us want to be in calm waters all our lives.” 
<br><strong>― Jane Austen, Persuasion<strong></p>
      </div>
    </div>
    <hr>
    
</footer>

