<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="stylesheets/prettyPhoto.css" rel="stylesheet">
    <link href="stylesheets/main.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

      <!--background-->
         <script type="text/javascript" src="/js/modernizr.custom.86080.js"></script>
    

</head>

<body>
         <%#= render '/layouts/bg'%>
    <div class="container">
     <header>
        <div class="col-md-2"><a href="/home/index"> <img src="/images/a1c.png"></a></div>

    <div class="brand">Aakriti</div>
    <div class="address-bar">College of Engineering, Guindy</div>

</header>
        <%= render '/home/nav'%>
             <%#= render '/layouts/message'%>

</div>

    <!-- Navigation -->
   
   <div class="container"> 
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img width=1100 height=715 src="/images/slide-2.jpg" alt="...">
    </div>
    <div class="item">
      <img width=1100 height=715 src="/images/slide-1.jpg" alt="...">
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  </div>
 </div>

<br>
<br>

<div class="container">
<div class="col-sm-6">

<h1>Updates</h1>
<marquee direction=up scrolldelay="90" onmouseover="this.setAttribute('scrollamount', 0, 0);" onmouseout="this.setAttribute('scrollamount', 6, 0);">                             
<ol class="updates">
<li>Veena classes will be conducted for girls of CEG, exclusively for 2nd and 3rd years. Please avail this wonderful opportunity. Classes will be conducted by a renowned Veena expert. For further details contact: S.Sivaranjini – 9994171105  M.Priyanka – 8754762211. First month free. Interested people can continue at a discounted fee.</li>
<br><br><br><br><br>
<li>Aakriti, the official Girls forum of CEG conducted a PHOTOSHOP WORKSHOP exclusively for the girls of CEG on 4th August 2014. The response was good and through Aakriti the girls were able to get quite a good insight into the World of Photoshop  -  Getting Started with Photoshop and using effective techniques of editing images.</li>
</ol>            
</marquee>

</div>
</div>
<%= render '/layouts/footer'%>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.js"></script>
  
     <script src="javascripts/jquery.js"></script>
     <script src="javascripts/bootstrap.min.js"></script>
     <script src="javascripts/jquery.isotope.min.js"></script>
     <script src="javascripts/jquery.prettyPhoto.js"></script>
     <script src="javascripts/main.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
    

</body>

</html>
