<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="js/modernizr.custom.86080.js"></script>
    

</head>

<body>
        <div class="container">
     <header>
    <div class="col-sm-2"> <a href="/home/index"><img src="/images/a1c.png"></a></div>


    <div class="brand">Aakriti</div>
    <div class="address-bar">College of Engineering, Guindy</div>

    <br><br>
    <%= render '/home/nav'%>
    <br>
     <hr class="seperate">
     <h2 class="intro-text text-center">Members of Aakirthi </h2><!-- Navigation -->
     <hr class="seperate">
</header> </div>
  <div class="container">
     

<p align="center">
<ul class="nav nav-tabs" role="tablist">
	  <li class="active"><a href="#2012" role="tab" data-toggle="tab">2012</a></li>
	  <li><a href="#2014" role="tab" data-toggle="tab">2014</a></li>
</ul></p>
  
  <!-- Tab panes -->
  <div class="tab-content">
	    <div class="tab-pane active" id="2012">
	    	 <div class="row">

            <div class="col-lg-12">
               <h2 class="page-header">Team 2012-2013</h2>
            </div>
            
	  <div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;">Mahishaa Balraj</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    President
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;">Vysshnave Ragavendran</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    Director
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;">Sarumathi</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    Director
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;">Madhuneka Sundararajan</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    Director
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;">Nivedhita Mahesh</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    Director
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;">Rashmi</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    General Secretary
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;">Hamsini</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    Website Team
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;">Iffat Shakee</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    Website Team
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;">Harini</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    Website Team
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
	   
	   
</div>

	    </div>
	    <div class="tab-pane" id="2014">
	    	<div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Team 2014-2015</h2>
            </div>
            
           <div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;">Adharshna</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    Deparment : <b>Bme</b>
                                </div>
                                <div class="form-group">
                                    President
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;">Deepika</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    Deparment : <b>Information Technology</b>
                                </div>
                                <div class="form-group">
                                    Logistics
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;">Nirmala</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    Deparment : <b>Information Technology</b>
                                </div>
                                <div class="form-group">
                                    Logistics
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <br><br>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;">S.Swetha</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    Deparment : <b>M.Sc (Information Technology)</b>
                                </div>
                                <div class="form-group">
                                    WebContent
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;">Vijetha</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    Deparment : <b>M.Sc (Computer Science)</b>
                                </div>
                                <div class="form-group">
                                    Web Content
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;">Priyanka</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    Deparment : <b>Computer Science</b>
                                </div>
                                <div class="form-group">
                                    Design
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <br><br>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;">Saharnisha</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    Deparment : <b>Industrial</b>
                                </div>
                                <div class="form-group">
                                    Finance
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;">Sivaranjani</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    Deparment : <b>Material Science</b>
                                </div>
                                <div class="form-group">
                                    Arts
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;">Priyanka.M</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    Deparment : <b>Information Technology</b>
                                </div>
                                <div class="form-group">
                                    Arts
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       


    </div>
</div>

            
        </div>
	    </div>
	    
    </div>>


</div>

<%= render '/layouts/footer'%>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
    

</body>

</html>

