<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

   <link rel="stylesheet" type="text/css" href="/css/demo.2.css" >
        <link rel="stylesheet" type="text/css" href="/css/style2.css" >
        <script type="text/javascript" src="/js/modernizr.custom.86080.js"></script>
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
         <%= render '/layouts/bg'%>

   <div class="container">
     <header>
    <div class="brand">Aakriti</div>
    <div class="address-bar">College of Engineering, Guindy</div>
</header> </div>
   
    <!-- Navigation -->
    <%= render '/home/nav'%>


<div class="row" data-equalizer>

<dl class="accordion" data-accordion> 
  <dd class="accordion-navigation">
    <a href="#panel1">Members of Aakirthi</a>
    <div id="panel1" class="content active">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel2-1">2012</a></dd>
        <dd><a href="#panel2-2">2014</a></dd>
         </dl>
      <div class="tabs-content">
        <div class="content active" id="panel2-1">
            <strong>Team 2011-2012: </strong>
<div class="row">

            <div class="col-lg-12">
               <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Mahishaa Balraj 
  
                    <small>President</small>
                </h3>
               </div> <br>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Vysshnave Ragavendran
  
                    <small>Director </small>
                </h3>
               </div>
           <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Sarumathi <br> 
  
                    <small>Director </small>
                </h3>
             </div>

	   <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Madhuneka Sundararajan 
  
                    <small>Director </small>
                </h3>
            </div>

	   <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Nivedhita Mahesh <br>
  
                    <small>Director </small>
                </h3>
           </div>
           <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Rashmi <br>
  
                    <small>General Secretary</small>
                </h3>
            </div>

	   <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Hamsini
  
                    <small>Website Team</small>
                </h3>
           </div>
	   <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Iffat Shakee
  
                    <small>Website Team</small>
                </h3>
           </div>
	   <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Harini
  
                    <small>Website Team</small>
                </h3>
           </div>
</div>

</div>   
        <div class="content" id="panel2-2">
         <strong>Team 2014-2015: </strong>

       <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3> Adharshna(bme)
  
                    <small>Technical</small>
                </h3>
               </div> <br>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Deepika(IT)
  
                    <small>Logistics</small>
                </h3>
               </div>
           <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>  Nirmala(IT)
  
                    <small>Logistics </small>
                </h3>
             </div>

	   <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3> Swetha (Msc)
  
                    <small>WebContent</small>
                </h3>
            </div>

	   <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Vijetha(Msc)
  
                    <small>WebContent</small>
                </h3>
           </div>
           <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3> Priyanka.(CSE)
  
                    <small>Design</small>
                </h3>
            </div>

	   <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3> Saharnisha(INDUSTRIAL)
  
                    <small>Finance</small>
                </h3>
           </div>
	   <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Sivaranjani(MAT Sci)
  
                    <small>Arts</small>
                </h3>
           </div>
	   <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3> Priyanka.M(IT)
  
                    <small>Arts</small>
                </h3>
           </div>
            
</div>
         
        </div>
       </div>
    </div>
  </dd>
 </dl>
</div>
<%= render '/layouts/footer'%>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
    

</body>

</html>

