<div class="row" data-equalizer>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#panel1">Members of Aakirthi</a>
    <div id="panel1" class="content active">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel2-1">2012</a></dd>
        <dd><a href="#panel2-2">2014</a></dd>
         </dl>
      <div class="tabs-content">
        <div class="content active" id="panel2-1">
 <div class="large-6 columns panel" data-equalizer-watch>

<strong>Team 2012-2013:</strong>
  <ol class="team">
 <b> President </b>
  <li>Mahishaa Balraj</li>
  </ol>
  <ol class="team">
 <b> Directors :</b>
  <li>Vysshnave Ragavendran </li>
  <li>Sarumathi </li>
 <li>Madhuneka Sundararajan</li>
 <li>Nivedhita Mahesh</li>
  </ol>   
<ol class="team">
<b>General Secretary:</b>
<li> Rashmi</li>
</ol>
<ol class="team">
<b>Website Team:</b>
<li>Hamsini</li>
<li>Iffat Shakee</li>
<li>Harini</li>
</ol>
</div>
   <div class="large-6 columns panel" data-equalizer-watch>

<img src="/images/room.jpg">
</div>
</div>   
        <div class="content" id="panel2-2">
         <strong>Team 2014-2015: </strong>

            <ol class="team">
                <li> </li>
                <li> </li>
                <li> </li>
                </ol>
         
        </div>
       </div>
    </div>
  </dd>
</dl> 
</div>
