<!DOCTYPE html>
<html lang="en">

<head>

    <script type="text/javascript" src="js/modernizr.custom.86080.js"></script>
    

</head>

<body>
 <br>     <div class="container">
     <header>
     <div class="col-sm-2">
         <!-- > <div class="col-md-1"> <a href="/home/index"><img src="/images/a1c.png"></a></div> -->
         <div class="img-left"><a href="/home/index"><img width=100 height=100 src="/images/ceglogo.png"></a></div>
         </div>
             <div class="col-sm-8">
        <div class="brand">Aakriti</div>
    <div class="address-bar">College of Engineering, Guindy </div>
    </div>
    <div class="col-sm-2">
             <div class="img-left"><a href="/home/index"><img width=100 height=100 src="/images/a1c.png"></a></div>

    </div>


</header>
</div>
<div class="col-sm-12">
        
        <%= render '/home/nav'%>

    
    <br>
     

  <div class="container">
          <h2 class="intro-text text-center">Members of Aakirthi </h2><!-- Navigation -->


<p align="center">
<ul class="nav nav-tabs" role="tablist">
	  <li class="active"><a href="#2012" role="tab" data-toggle="tab">2012</a></li>
	  <li><a href="#2014" role="tab" data-toggle="tab">2014</a></li>
</ul></p>
  
  <!-- Tab panes -->
  <div class="tab-content">
	    <div class="tab-pane active" id="2012">
	    	 
             <div class="row">

            <div class="col-lg-12">
               <h2 class="page-header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Team 2012-2013</h2> 
            </div>
            <div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;" align="center">Mahishaa Balraj</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                    <h2 align="center">President</h2>
                                </div>
                                <br>
                               
                            </div>
                        </div>
                    </div>
                </div> 
            </div> 
        </div>
        

        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;" align="center">Vysshnave Ragavendran</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                    <h2 align="center">Director</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;" align="center">Sarumathi</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                   <h2 align="center"> Director</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       

        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;" align="center">Madhuneka Sundararajan</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                    <h2 align="center">Director</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;" align="center">Nivedhita Mahesh</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                    <h2 align="center">Director</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;" align="center">Rashmi</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                    <h2 align="center">General Secretary</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;" align="center">Hamsini</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                    <h2 align="center">Website Team</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;" align="center">Iffat Shakee</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                    <h2 align="center">Website Team</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;" align="center">Harini</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                    <h2 align="center">Website Team</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        </div>
    
</div>
	   
	   


	    </div>
	    <div class="tab-pane" id="2014">
	    	<div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Team 2014-2015</h2>
            </div>
            
           <div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;" align="center">Adharshna</h3>
                            </div> <br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                    <h3 align="center">Department : <b>Bme</b></h3>
                                </div><br>
                                <div class="form-group">
                                    <h2 align="center">President</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;" align="center">Deepika</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                     <h3 align="center">Department : <b>Information Technology</b></h3>
                                </div><br>
                                <div class="form-group">
                                    <h2 align="center">Logistics</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;" align="center">Nirmala</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                     <h3 align="center">Department : <b>Information Technology</b></h3>
                                </div><br>
                                <div class="form-group">
                                    <h2 align="center">Logistics</h2>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <br><br>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;" align="center">S.Swetha</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                     <h3 align="center">Department : <b>M.Sc (Information Technology)</b></h3>
                                </div><br>
                                <div class="form-group">
                                    <h2 align="center">WebContent</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;" align="center">Vijetha</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                     <h3 align="center">Department : <b>M.Sc (Computer Science)</b></h3>
                                </div><br>
                                <div class="form-group">
                                    <h2 align="center">Web Content</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;" align="center">Priyanka</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                     <h3 align="center">Department : <b>Computer Science</b></h3>
                                </div><br>
                                <div class="form-group">
                                    <h2 align="center">Design</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <br><br>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;" align="center">Saharnisha</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                     <h3 align="center">Department : <b>Industrial</b></h3>
                                </div><br>
                                <div class="form-group">
                                    <h2 align="center">Finance</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;" align="center">Sivaranjani</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                    <h3 align="center"> Department : <b>Material Science</b></h3>
                                </div><br>
                                <div class="form-group">
                                    <h2 align="center">Arts</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                            	
                                <h3 style="color: #428BCA;" align="center">Priyanka.M</h3>
                            </div> <br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                    <h3 align="center">Department : <b>Information Technology</b></h3>
                                </div><br>
                                <div class="form-group">
                                    <h2 align="center">Arts</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="/images/members/2014/bindhiya.jpg" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                                
                                <h3 style="color: #428BCA;" align="center">Bhindhiya</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                    <h3 align="center"> Department : <b>BME</b></h3>
                                </div><br>
                                <div class="form-group">
                                    <h2 align="center">Workshop</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
         <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="/images/members/2014/sangavi.JPG" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                                
                                <h3 style="color: #428BCA;" align="center">Sangavi</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                    <h3 align="center"> Department : <b>BME</b></h3>
                                </div><br>
                                <div class="form-group">
                                    <h2 align="center">Workshop</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
         <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                                
                                <h3 style="color: #428BCA;" align="center">Rajeswari</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                    <h3 align="center"> Department : <b>M.Sc (Information Technology)</b></h3>
                                </div><br>
                                <div class="form-group">
                                    <h2 align="center">Marketing</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
         <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                                
                                <h3 style="color: #428BCA;" align="center">Sudaroli</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                    <h3 align="center"> Department : <b>Information Technology</b></h3>
                                </div><br>
                                <div class="form-group">
                                    <h2 align="center">Marketing</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
         <div class="col-lg-4">
            <div class="form_hover ">
                <p style="text-align: center; margin-top: 20px;">
<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                </p><br><br>
                <div class="header">
                    <div class="blur"></div>
                    <div class="header-text">
                        <div class="panel panel-success" style="height: 247px;">
                            <div class="heading">
                                
                                <h3 style="color: #428BCA;" align="center">Priyanka</h3>
                            </div><br><br>
                            <div class="panel-body">
                                <div class="form-group">
                                    <h3 align="center"> Department : <b>Computer Science</b></h3>
                                </div><br>
                                <div class="form-group">
                                    <h2 align="center">Design</h2>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
</div>
</div>
</div>
</div>

<%= render '/layouts/footer'%>

   

</body>

</html>

