<h2>Walkathon</h2>
<ul class="clearing-thumbs" data-clearing>
  <li><a href="/images/walk.jpg"><img width =150 height =150 src="/images/walk.jpg"></a></li>
  <li><a href="/images/walk1.jpg"><img width =150 height =150 src="/images/walk1.jpg"></a></li>
  <li><a href="/images/walk2.jpg"><img width =150 height =150 src="/images/walk2.jpg"></a></li>
</ul>
