<div class= "row">
<br>
<section class="small-6 small-centered columns">
<!--<div class= "panel">--!>
<span class="glyphicon glyphicon-plus-sign"><h1 align="center">Editing Post</h1></span>
<%= render 'form' %>
<br>
<br>
<%= link_to '<- Back', women_index_path, :class => 'btn btn-medium' %> | 
<%= link_to 'Show ->', @post , :class => 'btn btn-medium' %> 




<!-- </div> --!>
</section>
</div>
