<div class= "row">
  <br>
  <section class="small-10 small-centered columns">
  <!-- <div class= "panel"> --!>
 
 <p id="notice"><%= notice %></p>
 <p align = "centre"> <h2>New Post</h2> </p>

<%= render 'form' %>
<p >
<%= link_to 'Back', women_index_path, :class => 'btn btn-medium' %>
</p>
</section>
</div>
