// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com///


body {
background-image: image-url("/images/bg4.jpg");
background-repeat:no-repeat;
background-size: 100%
}

//@import "foundation/components/buttons";
//.button{
 // $bg: #123;
  //@include button($button-sml, $bg, false, false, false, false);
//}
