// Place all the styles related to the trumpet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
/*    background: url('/images/bg8.jpg') no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
h2.heading {
  color: #000; 
  font-size: 50px; 
  padding: 4px 500px;
}
h2.women {
 color: #fff;
 padding: 4px 100px;
 font-size:50px;
}
ol.team {
color: #000
}
h2.heading1 {
color: #000;
 font-size: 50px;
padding:4px 100px;

}

div.col-md-7,.col-md-2{
color: #fff
}
div.col-md-1,.page-header{
color: #fff
 }
p.index {
color: #000
}
p.testimonial {
color: #fff312;
}
a.link,.btn btn-mini {
color: #fff
}
li.selected {
color:  #234792;

}
a.login {
color: #454545
}
div.carousel-caption{
color: #000
}
img.logo {
margin-left: 200px;
margin-top:50px; 
}
hr.seperate {
   margin-left: 200px;
	max-width: 1000px;
  margin-right: 200px;
}
