// Place all the styles related to the trumpet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: image-url("/images/bg5.jpg");
  background-repeat:no-repeat;
  background-size: 140%
  }
h2.heading {
  color: #03507B; 
  font-size: 50px; 
  padding: 4px 200px;
}
