// Place all the styles related to the trumpet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: image-url("/images/bg8.jpg");
  background-repeat:no-repeat;
  background-size: 350%
  }
h2.heading {
  color: #000; 
  font-size: 50px; 
  padding: 4px 500px;
}
ol.team {
color: #000
}
h2.heading1 {
color: #000;
 font-size: 50px;
padding:4px 100px;

}

div.col-md-7{
color: #fff
}
div.col-md-1,.page-header{
color: #fff
 }

