<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/stylesheets/prettyPhoto.css" rel="stylesheet">
    <link href="/assets/stylesheets/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    
    <!-- Custom CSS -->
   

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

   <link rel="stylesheet" type="text/css" href="/css/demo.2.css" >
   <link rel="stylesheet" type="text/css" href="/css/style2.css" >
   <!--     <script type="text/javascript" src="/js/modernizr.custom.86080.js"></script>
    

     HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
     <%= render '/layouts/bg'%>
     <div class="container">
     <header>
        <div class="col-md-2"> <img src="/images/a1c.png"></div>
        <div class="brand">Aakriti</div>
        <div class="address-bar">College of Engineering, Guindy</div>
        
     </header>
        
        <%= render '/home/nav'%>
    </div>


    <div class= "container">
       
        <div class="large-10 columns " data-equalizer-watch>
           
                
                <ul class="portfolio-filter">
                    <li><a class="btn btn-primary active" href="" data-filter="*">All</a></li> 
                    <li><a class="btn btn-primary" href="" data-filter=".ss">Social Service</a></li>
                    <li><a class="btn btn-primary" href="" data-filter=".wih">Women In History!</a></li>
                    <li><a class="btn btn-primary" href="" data-filter=".emp">Education , media and politics </a></li>
                    <li><a class="btn btn-primary" href="" data-filter=".tn">Technology</a></li>

                </ul><!--/#portfolio-filter-->
                <ul class="portfolio-items col-4">
                   <li class="portfolio-item emp">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/oprah.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="“Passion is energy. Feel the power that comes from focusing on what excites you.”" href="/images/wa/screen1.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                            <h5>Oprah Winfrey</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item ss">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/chinnapillai1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="SELFLESS AND UNTIRING SERVICE FOR THE POOR WOMEN!!" href="/images/wa/screen2.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                            <h5>Mrs.Chinna Pillai</h5>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item tn">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/AIR_COMMODORE_PADMAVATHY_BANDOPADHYAYA.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Flying  High  with the Air Force!!!!" href="/images/wa/screen3.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                            <h5>AIR COMMODORE PADMAVATHY BANDOPADHYAYA</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item wih">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/RAZIYA SULTANA.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="THE FIRST  WOMAN WHO RULED INDIA!" href="/images/wa/screen4.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                            <h5>RAZIYA SULTANA</h5>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item wih">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/ANANDIBAI JOSHI.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="INDIA’S FIRST WOMEN DOCTOR" href="/images/wa/screen5.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                            <h5>ANANDIBAI JOSHIA</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wih">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/INDIRA GANDHI.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="“People tend to forget their duties but remember their rights!”" href="/images/wa/screen6.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                            <h5>INDIRA GANDHI</h5>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item tn">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/DR. KIRAN MAZUMDAR-SHAW.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="BIO-TECH QUEEN OF INDIA" href="/images/wa/screen7.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                            <h5>DR. KIRAN MAZUMDAR-SHAW</h5>
                        </div>
                    </li><!--/.portfolio-item-->


                    <li class="portfolio-item tn">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/SHERYL SANDBERG.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="“A truly equal world would be one where women ran half our countries and companies and men ran half our homes.”" href="/images/wa/screen8.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                            <h5>SHERYL SANDBERG</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    
                    
                   
                   </ul>   
         </div>
        

      
        
</div>

<%= render '/layouts/footer'%>
   
    <script src="/assets/javascripts/jquery-1.11.0.js"></script>
     <script src="/js/bootstrap.js"></script>
     <script src="/js/bootstrap.min.js"></script>
     <script src="/assets/javascripts/jquery.js"></script>
     <script src="/assets/javascripts/bootstrap.min.js"></script>
     <script src="/assets/javascripts/jquery.isotope.min.js"></script>
     <script src="/assets/javascripts/jquery.prettyPhoto.js"></script>
     <script src="/assets/javascripts/main.js"></script>
     
     <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
