<h1 align = "center" >Women achievers</h1>
<div class= "row">
<br>
<section class="small-10 small-centered columns">
<div class= "panel">
<table>
 <thead>
    <tr>
      <th>TITLE</th>
      <th>CONTENT</th>
      <th>More</th>
     </tr>
  </thead>
<tbody>
<% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        
     <td><a href="#" data-reveal-id="<%= post.title%>" class="radius button"> More ... </a></td>
       
    <% end %>

     </tr>
</tbody>
</table>
<br>
<br>

<div align="left">



<!-- Reveal Modals begin -->
<div id="PrathibaPatel" class="reveal-modal" data-reveal>
  <h2>PrathibaPatel.</h2>
  
  <p><code>Pratibha Devisingh Patil </code>(About this sound pronunciation (help·info)) (born 19 December 1934) is an Indian politician who served as the 12th President of India from 2007 to 2012; she was the first woman to hold the office. She was sworn in as President on 25 July 2007, succeeding Abdul Kalam, after defeating her rival Bhairon Singh Shekhawat. She retired from the office in July 2012. She was succeeded as President by Pranab Mukherjee.</p>

<p>Patil is a member of the Indian National Congress (INC) and was nominated for the presidency by the governing United Progressive Alliance and Indian Left.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

 <div id="SoniaGandhi" class="reveal-modal" data-reveal>
  <h2>Sonia Gandhi.</h2>
  
  <p><code>Sonia Gandhi </code>is an Italian-born Indian politician, who has served as President of the Indian National Congress party since 1998. She is the widow of former Prime Minister of India, Rajiv Gandhi who belonged to the Nehru–Gandhi family. After her husband's assassination in 1991, she was invited by Congress leaders to take over the government but she refused and publicly stayed away from politics amidst constant prodding from the party. She finally agreed to join politics in 1997; in 1998, she was elected President of the Congress party.</p>

<p>She has served as the Chairperson of the ruling United Progressive Alliance in the Lok Sabha since 2004. She turned down the prayers of her party's rank & file to take over as Prime Minister after articulating Congress party victory in the 2004 Parlaiment elections by stating "My Conscience does not allow me". In September 2010, on being re-elected for the fourth time, she became the longest serving president in the 125-year history of the Congress party. Her foreign birth has been a subject of much debate and controversy. Also controversial was her alleged friendship with Italian businessman Ottavio Quattrocchi, accused of being a middleman in the Bofors scandal. Although Sonia is the fifth foreign-born person to be leader of the Congress Party, she is the first since independence in 1947.</p>
</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="IndiraGandhi" class="reveal-modal" data-reveal>
  <h2>IndiraGandhi.</h2>
  
  <p><code>Indira Priyadarshini Gandhi </code>was the fourth Prime Minister of India and a central figure of the Indian National Congress party. Gandhi, who served from 1966 to 1977 and then again from 1980 until her assassination in 1984, is the second-longest-serving Prime Minister of India and the only woman to hold the office.</p>

<p>Indira Gandhi was the only child of Indian Prime Minister Jawaharlal Nehru. She served as the Chief of Staff of her father's highly centralised administration between 1947 and 1964 and came to wield considerable unofficial influence in government. Elected Congress President in 1959, she was offered the premiership in succession to her father. Gandhi refused and instead chose to become a cabinet minister in the government. She finally consented to become Prime Minister in succession to Lal Bahadur Shastri in 1966.</p>

<p>As Prime Minister, Gandhi became known for her political ruthlessness and unprecedented centralisation of power. She went to war with Pakistan in support of the independence movement and war of independence in East Pakistan, which resulted in an Indian victory and the creation of Bangladesh, as well as increasing India's influence to the point where it became the regional hegemon of South Asia. Gandhi also presided over a state of emergency from 1975 to 1977 during which she ruled by decree and made lasting changes to the constitution of India. She was assassinated in the aftermath of Operation Blue Star.</p>

<p>In 2001, Gandhi was voted the greatest Indian Prime Minister in a poll organised by India Today. She was also named "Woman of the Millennium" in a poll organised by the BBC in 1999.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
</div>


<%= link_to 'New Post', new_post_path ,:class=>'button' %>

</div>
</section>
</div>
