<!DOCTYPE html>
<html lang="en">

<head></head>

<body>
<br> 
     <div class="container">
     <header>
     <div class="col-sm-2">
         <!-- > <div class="col-md-1"> <a href="/home/index"><img src="/images/a1c.png"></a></div> -->
         <div class="img-left"><a href="/home/index"><img width=100 height=100 src="/images/ceglogo.png"></a></div>
         </div>
             <div class="col-sm-8">
        <div class="brand">Aakriti</div>
    <div class="address-bar">College of Engineering, Guindy </div>
    </div>
    <div class="col-sm-2">
             <div class="img-left"><a href="/home/index"><img width=100 height=100 src="/images/a1c.png"></a></div>

    </div>


</header>
</div>
<div class="col-sm-12">
        
        <%= render '/home/nav'%>
    </div>


    <div class= "container" align="center">
       
    <h2 class="page-header" align="center">Women Achievers </h2>    
	    <div class="large-10 columns" data-equalizer-watch>
           
                
                <ul class="portfolio-filter">
                    <li><a class="btn btn-primary active" href="" data-filter="*">All</a></li> 
                    <li><a class="btn btn-primary" href="" data-filter=".ss">Social Service</a></li>
                    <li><a class="btn btn-primary" href="" data-filter=".wih">Women In History!</a></li>
                    <li><a class="btn btn-primary" href="" data-filter=".emp">Education , media and politics </a></li>
                    <li><a class="btn btn-primary" href="" data-filter=".tn">Technology</a></li>

                </ul><!--/#portfolio-filter-->
                <ul class="portfolio-items col-4">
                   <li class="portfolio-item emp">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/oprah.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="“Passion is energy. Feel the power that comes from focusing on what excites you.”" href="/images/wa/screen1.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                            <h5>Oprah Winfrey</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item ss">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/chinnapillai1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="SELFLESS AND UNTIRING SERVICE FOR THE POOR WOMEN!!" href="/images/wa/screen2.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                            <h5>Mrs.Chinna Pillai</h5>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item tn">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/AIR_COMMODORE_PADMAVATHY_BANDOPADHYAYA.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Flying  High  with the Air Force!!!!" href="/images/wa/screen3.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                            <h5>AIR COMMODORE PADMAVATHY BANDOPADHYAYA</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item wih">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/RAZIYA SULTANA.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="THE FIRST  WOMAN WHO RULED INDIA!" href="/images/wa/screen4.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                            <h5>RAZIYA SULTANA</h5>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item wih">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/ANANDIBAI JOSHI.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="INDIA’S FIRST WOMEN DOCTOR" href="/images/wa/screen5.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                            <h5>ANANDIBAI JOSHIA</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wih">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/INDIRA GANDHI.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="“People tend to forget their duties but remember their rights!”" href="/images/wa/screen6.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                            <h5>INDIRA GANDHI</h5>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item tn">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/DR. KIRAN MAZUMDAR-SHAW.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="BIO-TECH QUEEN OF INDIA" href="/images/wa/screen7.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                            <h5>DR. KIRAN MAZUMDAR-SHAW</h5>
                        </div>
                    </li><!--/.portfolio-item-->


                    <li class="portfolio-item tn">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/SHERYL SANDBERG.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="“A truly equal world would be one where women ran half our countries and companies and men ran half our homes.”" href="/images/wa/screen8.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                            <h5>SHERYL SANDBERG</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    
                    
                   
                   </ul>   
         </div>
        

      
        
</div>

<%= render '/layouts/footer'%>
   
    

</body>

</html>
