<div class="row">
<ul class="nav navbar-nav navbar-right"> 
 			<li><a data-pjax="true" href="/home/index">Home</a></li>
                        <li><a data-pjax="true" href="/women/index">Women</a></li>
                        <li><a data-pjax="true" href="/trumpet/index">Events</a></li>
                       <li><a data-pjax="true" href="/vogue/index">Vogue</a></li>
                        <li><a data-pjax="true" href="/members">Members</a></li>
                        <li><a data-pjax="true" href="/gallery">Gallery</a></li>
			<li><a data-pjax="true" href="/home/aboutus">About Us</a></li>
</ul>
</div>
