<div class="container"> 
<footer id="footer-area">
        <!-- Footer Links Starts -->
            <div class="footer-links">
            <!-- Container Starts -->
                <div class="container">
                    <!-- Information Links Starts -->
                        <div class="col-md-2 col-sm-6">
                            <h5>Information</h5>
                            <ul>
				  <li><a href="/home/index">Home</a></li> 
                               <li><a href="/home/aboutus">About Us</a></li>
                                <li><a href="/women/index">Women Achievers</a></li>
                                <li><a href="/trumpet/index">Events</a></li>
                            </ul>
                        </div>
                    <!-- Information Links Ends -->
                    <!-- My Account Links Starts -->
                        
                    <!-- My Account Links Ends -->                  
                    <!-- Customer Service Links Starts -->
                        <div class="col-md-2 col-sm-6">
                            <h5>Service</h5>
                            <ul>
                                <li>
				<a data-toggle="modal" data-target=".bs-example-modal-lg">Contact Us</a>

                             <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                      <%= render '/home/contactus'%>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                 </div>
                              </div>
                             </div>
                                 </li>

                                <li><a href="/members">Members</a></li>
                                  </ul>
                        </div>
                    <!-- Customer Service Links Ends -->
                    <!-- Follow Us Links Starts -->
                        <div class="col-md-2 col-sm-6">
                            <h5>Follow Us</h5>
                            <ul>
                                <li><a href="https://www.facebook.com/AakritiCEG?fref=ts"><span class="avatar"><i class="fa fa-facebook">&nbsp;</i></span>Facebook</a></li>
                                <li><a href="#"><span class="avatar"><i class="fa fa-twitter">&nbsp;</i></span>Twitter</a></li>
                           </ul>
        </footer>
</div>
