<div class="container"> 
<footer id="footer-area">
        <!-- Footer Links Starts -->
            <div class="footer-links">
            <!-- Container Starts -->
                <div class="container">
                    <!-- Information Links Starts -->
                        <div class="col-md-2 col-sm-8">
                            <h4>Information</h4>
				<br>
			    <ul>
				    <li><a href="/home/index">Home</a></li> 
				    <li><a href="/home/aboutus">About Us</a></li>
	    			    <li><a href="/women/index">Women Achievers</a></li>
    				    <li><a href="/trumpet/index">Events</a></li> 

                            </ul>
                        </div>
                        <div class="col-md-2 col-sm-8">
                            <h4>Service</h4>
				<br>
			    <ul>
                    <li><a href="" data-reveal-id="myModal">Contact Us</a>

                    <div id="myModal" class="reveal-modal" data-reveal>
                    <%= render '/home/contactus'%>
                    <a onclick="history.go(-0);return true;" class="close-reveal-modal">&#215;</a>
                    </div></li>
				    <li><a href="/members">Members</a></li>
			    </ul>
		    </div>
    			    <div class="col-md-2 col-sm-6">
                            <h4>Follow Us</h4>
				<br>
			    <ul>
				    <li><a target="_blank" href="https://www.facebook.com/AakritiCEG?fref=ts"><span class="avatar"><i class="fa fa-facebook">&nbsp;</i></span>Facebook</a></li>
    				    <li><a target="_blank" href="#"><span class="avatar"><i class="fa fa-twitter">&nbsp;</i></span>Twitter</a></li>
                           </ul>
		   </div>
	   </div>
   </div>
		   </footer>
</div>


<body>
