
        
    <% if  admin_signed_in? %>
<li><a href="/admins/edit"><i class="fa fa-gear"></i><span class="hidden-sm hidden-xs"> Settings</span></a></li>
<li class="divider"></li>
<li><%=link_to '<i class="fa fa-power-off"><span class="hidden-sm hidden-xs">Log Out</span></i>'.html_safe, destroy_admin_session_path, method: :delete %></li>     <% else %>
    <li>
    <a href="/admins/sign_up"><i class="fa fa-unlock" title="" data-original-title="Register"></i>
     <span class="hidden-sm hidden-xs"> Register</span> </a>
<li class="divider"></li>
 <li><a href="/admins/sign_in">
<i class="fa fa-lock" title="" data-original-title="Login"></i>
<span class="hidden-sm hidden-xs">
Login</span>
</a>
</li>
 	  <li class="divider"></li>
	<% end %>
        </ul>
