<div class="contain-to-grid">
<nav class="top-bar" data-topbar>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
       <li class="has-dropdown">
          <%= render '/layouts/login_links'%>
      </li>
    </ul>
  </section>
   <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="title-area">
       <li>
        <a href="/home/index"><img width=43 height=33 src="/images/a1.jpg"></a>
	       
      </li>
    </ul>
  </section>
  
  
<%if admin_signed_in? %>   
  <section class="top-bar-section">
    <!-- Right Nav Section -->
<ul class="nav navbar-nav navbar-right">
                        <li><a data-pjax="true" href="/home/index">Home</a></li>
                        <li><a data-pjax="true" href="/women/index">Women</a></li>
                        <li><a data-pjax="true" href="/trumpet/index">Events</a></li>
                       <li><a data-pjax="true" href="/vogue/index">Vogue</a></li>
                        <li><a data-pjax="true" href="/members">Members</a></li>
                        <li><a data-pjax="true" href="/gallery">Gallery</a></li>
                        <li><a data-pjax="true" href="/home/aboutus">About Us</a></li>
</ul>

	       
  </section>
<% end%>
</nav>
</div>
