


<div class="contain-to-grid">
<nav class="top-bar" data-topbar>


  <ul class="left">
    <li class="name">
  
    <!--<h1><a href="/home/index">Home</a></h1>--!>
     <h1><a href="/home/index">Home</a></h1>
    
  </li>
 
  </ul>

 
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
       <li class="has-dropdown">
          <%= render '/layouts/login_links'%>
      </li>
    </ul>
  </section>
   <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="title-area">
       <li>
        <a href="/home/index"><img width=43 height=33 src="/images/a1.jpg"></a>
	       
      </li>
    </ul>
  </section>
  
  
   
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
       <li >
        <a href="/home/aboutus">About Us</a>
	       
      </li>
    </ul>
  </section>
</nav>
</div>
